.mmm-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

@media screen and (min-width: 1000px) {
  .mmm-container {
    left: 40%;
  }
}

@media screen and (min-width: 1300px) {
  .mmm-container {
    left: 38%;
  }
}
