.story-tile-skeleton {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 99%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-border-light);
}

.skeleton-style1-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-style1-author-container {
  width: 130px;
  height: 14px;
  border-radius: 4px;
  margin-left: 5px;
}

.skeleton-style1-story-title-container {
  height: 18px;
  width: 80%;
  border-radius: 4px;
  margin-left: 5px;
}
